<h1>Reddit Scrapening</h1>
<div>
  <a href="/scrape">Scrapening</a>
</div>

<div id="articles">
  <ul>
    {{#each array}}
      <li class= "articles" data-id={{_id}}  data-saved={{saved}}>
        {{title}}
      </br>
        {{link}}
      </li>
    {{/each}}
  </ul>
</div>


<div id="comments">

</div>
